{% extends 'base.html.twig' %}

{% block body %}

<header>
    <div class="has-text-centered py-4">
        <h1 class="title">BibliGame</h1>
        <h2 class="subtitle">Votre bibliothèque dédié aux jeux video</h2>
    </div>
    <div class="picture">

    </div>
</header>
<main>
    <section class="main__top is-flex is-flex-direction-column is-flex-wrap-nowrap">
        <div class="main__top-description">
            <p class="has-text-white py-4 pl-2">
                Ce site vous offre la possibilité de vous créer un listing de tout vos jeux physiques afin de vous y retrouver lors de vos futur acquisitions.
            </p>
        </div>
        <div class="is-relative">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#273036" fill-opacity="1" d="M0,160L120,144C240,128,480,96,720,80C960,64,1200,64,1320,64L1440,64L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p class="main__top-sign is-align-self-flex-end pr-2">Bonjour {{ app.user.firstname }}, <a href="{{ path('app_game_index') }}">votre espace</a></p>
            {% else %}
            <p class="main__top-sign is-align-self-flex-end pr-2"><a href="{{ path('login') }}">Connexion</a> - <a href="#signin">Inscription</a></p>
            {% endif %}
        </div>
    </section>
    <section class="main__content is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-space-around">
        <div class="main__content-card px-4 my-6 is-flex is-flex-direction-column is-flex-wrap-nowrap">
            <img src="{{ asset('assets/img/cartridge.svg')}}" alt="">
            <p class="has-text-centered pt-4">Inscris-toi et profite d’un espace afin de ranger virtuellement tes jeux que tu possède physiquement.</p>
        </div>
        <div class="main__content-card px-4 my-6 is-flex is-flex-direction-column is-flex-wrap-nowrap">
            <img src="{{ asset('assets/img/search.svg')}}" alt="">
            <p class="has-text-centered pt-4">Consulte ta liste de jeux à tout moment. Le jour d'une nouvelle acquisition elle te sera utile pour t'y retrouver.</p>
        </div>
        <div class="main__content-card px-4 my-6 is-flex is-flex-direction-column is-flex-wrap-nowrap">
            <img src="{{ asset('assets/img/heart.svg')}}" alt="">
            <p class="has-text-centered pt-4">Créé une wishlist pour ainsi te souvenir des jeux ou consoles que tu aimerais acquérir !</p>
        </div>
    </section>
    {% if not app.user %}
    <section class="main__signin mb-4" id="signin">
        <h3 class="subtitle is-3 has-text-centered">Inscription</h3>
        <p class="has-text-centered">Déjà inscrit ? <a href="{{ path('login') }}">Connexion</a></p>
        <div class="main__signin-form py-4 px-4">
            {{ form_start(registerForm) }}
            <div class="field">
                <label class="label">Nom</label>
                <div class="control">
                    {{ form_row(registerForm.lastname)}}
                </div>
            </div>
            <div class="field">
                <label class="label">Prénom</label>
                <div class="control">
                    {{ form_row(registerForm.firstname)}}
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    {{ form_row(registerForm.email)}}
                </div>
            </div>
            <div class="field">
                <label class="label">Mot de passe</label>
                <div class="control">
                    {{ form_row(registerForm.password)}}
                </div>
            </div>
            {{ form_widget(registerForm) }}
            <div class="control">
                <button class="button is-info is-rounded">{{ button_label|default('S\'inscrire') }}</button>
            </div>
            {{ form_end(registerForm) }}
        </div>
    </section>
    {% endif %}
</main>
<footer class="py-4 has-text-centered">
    <p>Tous droits réservés - Copyright 2022</p>
    <p><a href="">CGU</a> - <a href="">Mentions Légales</a></p>
</footer>

{% endblock %}
