{% extends 'member.html.twig' %}

{% block title %}Console index{% endblock %}

{% block body %}
<h1>Console index</h1>

<a href="{{ path('app_console_new') }}">Create new</a>

<div>
    {% for console in consoles %}
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="{{ asset('assets/img/no-pictures.svg') }}" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">{{ console.name }}</p>
                    <p class="subtitle is-6">{{ console.isLoose ? 'En loose' : 'Avec boîte d\'origine' }}</p>
                </div>
            </div>

            <div class="content">
                {{ console.comment }}
            </div>
        </div>
        <footer class="card-footer">
            <a href="{{ path('app_console_show', {'id': console.id}) }}" class="card-footer-item">Afficher</a>
            <a href="{{ path('app_console_edit', {'id': console.id}) }}" class="card-footer-item">Modifier</a>
          </footer>
    </div>
    {% else %}
    <p>Vous n'avez aucune console pour le moment.</p>
    {% endfor %}
</div>

{% endblock %}