{% extends 'member.html.twig' %}

{% block title %}Ma liste de consoles{% endblock %}

{% block body %}
<h3 class="title is-3 has-text-centered">Ma liste de consoles</h3>

<div class="has-text-centered">
    <a href="{{ path('app_console_new') }}" class="button is-primary is-rounded mt-4 mb-6">Ajouter une console</a>
</div>

<div class="columns is-multiline">
    {% for console in consoles %}
    <div class="column is-one-quarter">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    {% if console.photo is not null %}
                    <img src="{{ asset('uploads/photos/console/' ~ console.photo) }}" alt="" class="card--picture">
                    {% else %}
                    <img src="{{ asset('assets/img/no-pictures.svg') }}" alt="">
                    {% endif %}
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">{{ console.name }}</p>
                        <p class="subtitle is-6">{{ console.isLoose ? 'En loose' : 'Avec boîte d\'origine' }}</p>
                    </div>
                </div>

                <div class="content">
                    {{ console.comment|slice(0, 180)|raw }}...
                </div>
            </div>
            <footer class="card-footer">
                <a href="{{ path('app_console_show', {'id': console.id}) }}" class="card-footer-item card-show">Afficher</a>
                <a href="{{ path('app_console_edit', {'id': console.id}) }}" class="card-footer-item card-edit">Modifier</a>
            </footer>
        </div>
    </div>
    {% else %}
    <p>Vous n'avez aucune console pour le moment.</p>
    {% endfor %}
</div>

{% endblock %}