{% extends 'member.html.twig' %}

{% block title %}{{ console.name }}{% endblock %}

{% block body %}
    <h3 class="title is-3 has-text-centered">{{ console.name }}</h3>

    <div class="card my-6">
        <div class="card-image">
            <figure class="image is-4by3">
                {% if console.photo is not null %}
                <img src="{{ console.photo }}" alt="" srcset="">
                {% else %}
                <img src="{{ asset('assets/img/no-pictures.svg') }}" alt="Placeholder image">
                {% endif %}
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">{{ console.name }}</p>
                    <p class="subtitle is-6">{{ console.isLoose ? 'En loose' : 'Avec boîte d\'origine' }}</p>
                </div>
            </div>

            <div class="content">
                {{ console.comment|raw }}
            </div>
        </div>
        <footer class="card-footer">
            <a href="{{ path('app_console_index') }}" class="card-footer-item card-show">Retour</a>
            <a href="{{ path('app_console_edit', {'id': console.id}) }}" class="card-footer-item card-edit">Modifier</a>
        </footer>
    </div>
{% endblock %}
