{% extends 'member.html.twig' %}

{% block title %}{{ game.name }}{% endblock %}

{% block body %}
<h3 class="title is-3 has-text-centered">{{ game.name }}</h3>

<div class="card my-6">
    <div class="card-image">
        <figure class="image is-4by3">
            {% if game.photo is not null %}
            <img src="{{ game.photo }}" alt="" srcset="">
            {% else %}
            <img src="{{ asset('assets/img/no-pictures.svg') }}" alt="Placeholder image">
            {% endif %}
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">{{ game.name }}</p>
                <p class="subtitle is-6">{{ game.isLoose ? 'En loose' : 'Avec boîte d\'origine' }}</p>
            </div>
        </div>

        <div class="content">
            {{ game.comment|raw }}
        </div>
    </div>
    <footer class="card-footer">
        <a href="{{ path('app_game_index') }}" class="card-footer-item card-show">Retour</a>
        <a href="{{ path('app_game_edit', {'id': game.id}) }}" class="card-footer-item card-edit">Modifier</a>
    </footer>
</div>
{% endblock %}
