{% extends 'member.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <h3 class="title is-3 has-text-centered">Mon compte</h3>
    
    <div>
      <figure class="image is-128x128 mx-auto">
        {% if user.picture is not null %}
        <img src="{{ asset('uploads/images/user/' ~ user.picture) }}" alt="" class="is-rounded profil--picture">
        {% else %}
        <img src="{{ asset('assets/img/user-no-picture.svg') }}" alt="">
        {% endif %}
      </figure>
      <h4 class="title is-4 has-text-centered my-2">Bonjour {{ user.firstname }}</h4>
      <p class="has-text-centered is-size-7 my-2">Vous êtes membre depuis : {{ user.createdAt ? user.createdAt|date('Y-m-d') : '' }}</p>
    </div>

    <div class="box">
      <div class="is-flex is-justify-content-space-between my-2 is-flex-wrap-wrap">
        <p class="has-text-weight-bold	">Informations de votre compte</p>
        <a href="{{ path('app_account_edit') }}">Modifier mes informations</a>
      </div>
      <hr>
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Mon nom : </strong>{{ user.lastname }}
              </p>
              <p>
                <strong>Mon prénom : </strong>{{ user.firstname }}
              </p>
              <p>
                <strong>Mon adresse mail : </strong>{{ user.email }}
              </p>
            </div>
          </div>
        </article>
      </div>
      <h5 class="title is-5 mx-4 has-text-centered">Résumé consoles et jeux :</h5>
      <div class="is-flex is-justify-content-space-around my-2 is-flex-wrap-wrap">
        <div class="is-flex is-flex-direction-column">
          <figure class="image is-128x128 mx-auto">
            <img src="{{ asset('assets/img/game-console.svg') }}" alt="">
          </figure>
          <div class="control my-4 mx-auto">
            <div class="tags has-addons">
              <span class="tag is-dark"><a class="has-text-white" href="{{ path('app_console_index') }}">Nombre de console</a></span>
              <span class="tag is-info">{{ nbConsole }}</span>
            </div>
          </div>
        </div>
        <div class="is-flex is-flex-direction-column">
          <figure class="image is-128x128 mx-auto">
            <img src="{{ asset('assets/img/game-cartridge.svg') }}" alt="">
          </figure>
          <div class="control my-4 mx-auto">
            <div class="tags has-addons">
              <span class="tag is-dark"><a class="has-text-white" href="{{ path('app_game_index') }}">Nombre de jeux</a></span>
              <span class="tag is-info">{{ nbGame }}</span>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
